<div class="imag">
  <h2 >
    <b>
      <hr>
      Information
      
    </b>
    <br>
    <br>
    <hr>
  </h2>
  <h4>
    My Name is Ahmed Shaban Eldeeb <br />
    And I am a Software DEveloper at ntg clarity
    <br />
    Please contact me if U need.
  </h4>
  <br />
  <hr />
  <h2>
    <b>Contacts
      </b>
    </h2>
  <h3>
    <a href="www.facebook.com">Facebook </a>
    <a href="www.linkedin,com">linkedin </a>
    <a href="www.gmail.com">Gmail</a>
  </h3>
  <hr />
  <img
    src="/assets/WhatsApp Image 2021-10-24 at 11.18.08 PM.jpeg"
    alt="Ahmed Eldeeb"
    style="width: 300px; height: 300px"
  />
</div>
