table tr td input {
  width: 100%;
}

table tr td button {
  width: 100%;
  background-color: rgb(6, 158, 51);
}

.container {
  width: calc(100% - 20px);
}

table {
  width: 200px;
  margin: auto;
}
.back {
  background-color: rgb(238, 158, 11, 0.3);
}
