
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  position: fixed;
  bottom: 0px;
  background-color: whitesmoke;
  width: 100%;
}

footer a {
  display: flex;
  align-items: center;
}
